.main-block{
    display: flex;
    flex-direction: column;
    position: absolute;
    left:0;
    right: 0;
    align-items: center;
    margin-top: 40px;   
    border-bottom: solid;
    border-width: 2px;
    border-color: rgba(212, 211, 211,0.3);
    height: 620px;
        
}
.my-pic{
    width:200px;
    margin-bottom: 30px;
    border-radius: 100px;
    
}

.my-name{
    font-weight: 700;
    font-size: 30px;
}

.my-name #emoji{
    font-size: 40px;
    animation: waving-hand 2.5s infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes waving-hand {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4.0deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.general{
    margin-top:20px;
    width:600px;
    text-align: center;
}

.info{
    margin-top:20px;
    width:600px;
    text-align: center;
   
}
.conclusion{
    margin-top:20px;
    width:600px;
    text-align: center;
}
.connect{
    margin-top:35px;
    background-color: black;
    color:white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top:12px;
    padding-bottom:12px;
    border-radius:20px;
    cursor: pointer;
    transition: 0.15s;
    margin-bottom: 50px;
}
.connect.night{
    background-color: white;
    color:black;
}
.connect:hover{
    box-shadow: 1px 1px 12px rgba(190, 180, 180);
}

@media (max-width:460px){
    .general{
        width:300px;
    }
    
    .info{
        width:300px;
    }
    .conclusion{
        width:300px;
    }
    .main-block{
        height: 740px;
}
}

@media (min-width:460px) and (max-width:800px){
    .general{
        width:400px;
    }
    
    .info{
        width:400px;
    }
    .conclusion{
        width:400px;
    }

    .main-block{
        height: 700px;
}
}
